<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">Paises</span>
</h4>
<div class="card">
  <ul class="list-group mb-3" style="max-height: 250px;">
      <li *ngFor="let pais of listaPaises" class="list-group-item d-flex justify-content-between lh-condensed"
          (click)="seleccionarPais(pais)">
          <!--*ngIf="i<10"  -->
          <div>
              <small class="text-muted">{{pais.name.common}}</small>
          </div>
          <div class="button"><img [src]="pais.flags.png" alt="" style="width: 50px; height: 30px;"></div>
      </li>
  </ul>
</div>
