<div class="text-center">
  <h1 style="color: antiquewhite;">Actores</h1>
</div>
<div class="card-group" >
    <div class="card">
        <img  style="width: auto;" src="../../../assets/imagenes/altaActor.jpg" class="card-img-top" alt="Actores" (click)="irARuta('/actor/alta')">
        <div class="card-body">
            <h5 class="card-title">Alta de Actor</h5>
            <p class="card-text">Dar de alta un nuevo actor</p>
        </div>
    </div>
    <div class="card" >
      <img src="../../../../assets/imagenes/actoresPeliculas.jpg" class="card-img-top" alt="Actores" (click)="irARuta('/actor/actor-pelicula')">
      <div class="card-body">
          <h5 class="card-title">Actor Pelicula</h5>
          <p class="card-text">Lista actores y sus peliculas</p>
      </div>
  </div>
</div>
