<h4 class="d-flex justify-content-between align-items-center mb-3">
  <h1 style="color: azure;">Peliculas</h1>
</h4>
<div class="card">
  <ul class="list-group mb-3" style="max-height: 250px;">
      <li *ngFor="let peli of listaPeliculas" class="list-group-item d-flex justify-content-between lh-condensed"
      (click)="seleccionarPeli(peli)" appHighligth="">
          <div>
              <p class="text-muted">{{peli.Titulo}}</p>
          </div>
          <img [src]="peli.fotoPelicula" style="width: 30px; height: 40px;">
          <!-- <button type="button" class="btn btn-primary" (click)="seleccionarActor(peli)">Seleccionar</button> -->

      </li>
  </ul>
</div>
