<body class="bg-dark">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <app-tabla-pelicula [listaPeliculas]="listadoPeliculas" (peliSeleccionadaOutput)="recibirPelicula($event)"></app-tabla-pelicula>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-4"  *ngIf="peliculaSeleccionada">
              <app-pelicula-card [peliSeleccionadaInput]="peliculaSeleccionada" [accion]="'Borrar'"></app-pelicula-card>
          </div>
          <div class="col-md-4" *ngIf="peliculaSeleccionada">
              <app-pelicula-card [peliSeleccionadaInput]="peliculaSeleccionada" [accion]="'Detalle'"></app-pelicula-card>
          </div>
          <div class="col-md-4" *ngIf="peliculaSeleccionada">
            <app-pelicula-card [peliSeleccionadaInput]="peliculaSeleccionada" [accion]="'Modificar'"></app-pelicula-card>
          </div>
      </div>
  </div>
</body>
