<h4 class="d-flex justify-content-between align-items-center mb-12">
  <h1 style="color: azure;">Alta Actor/Actriz</h1>
</h4>
<div >
  <form [formGroup]="actorForm" (ngSubmit)="onSubmitActor()">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" formControlName="nombre">
          <small class="error-message" *ngIf="actorForm.controls['nombre'].hasError('required') && actorForm.controls['nombre'].touched">
            El nombre es requerido
          </small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="apellido">Apellido</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="apellido" name="apellido" value=""  formControlName="apellido" >
          <small class="error-message" *ngIf="actorForm.controls['apellido'].hasError('required') && actorForm.controls['apellido'].touched">
            El apellido es requerido
          </small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="sexo">Sexo</label>
        <div class="col-sm-10">
          <select class="form-control" id="sexo" name="sexo"  formControlName="sexo" >
            <option value="F" selected>Femenino</option>
            <option value="M">Masculino</option>
          </select>
          <small class="error-message" *ngIf="actorForm.controls['sexo'].hasError('required') && actorForm.controls['sexo'].touched">
            Debe seleccionar un sexo
          </small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="nacionalidad">Nacionalidad</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nacionalidad" name="nacionalidad" formControlName="nacionalidad"
            placeholder="Seleccione un pais." [ngModel]="nacionalidadInput.name.common"  >
          <small class="error-message" *ngIf="actorForm.controls['nacionalidad'].hasError('required') && actorForm.controls['nacionalidad'].touched">
            Debe seleccionar un pais
          </small>
        </div>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
  </form>
</div>
