<h4 class="d-flex justify-content-between align-items-center mb-3">
  <h1 style="color: azure;">Actores</h1>
</h4>
<div class="card">
  <ul class="list-group mb-3" style="max-height: 250px;">
      <li *ngFor="let actor of listaActores" class="list-group-item d-flex justify-content-between lh-condensed"
      (click)="seleccionarActor(actor)" appHighligth="aqua">
          <div>
              <p>{{actor.nombre}}, {{actor.apellido}}</p>
          </div>

          <!-- <button type="button" class="btn btn-primary" (click)="seleccionarActor(peli)">Seleccionar</button> -->

      </li>
  </ul>
</div>
