<body class="bg-dark">
  <div class="container" style="padding: 10px;">
      <div class="row">
          <div class="col-md-4 order-md-2 mb-4" style="padding: 10px;">
            <app-tabla-actor (actorSeleccionadoOutput)="recibirActor($event)"></app-tabla-actor>
          </div>
          <div class="col-md-8 order-md-1">
              <app-abm-pelicula *ngIf="accion=='Alta'" [actoresQueActuaron]="actoresSeleccionados" (eliminarActorOutput)="recibirActorAEliminar($event)" ></app-abm-pelicula>
              <app-modificar-pelicula *ngIf="accion=='Modificar'" ></app-modificar-pelicula>
          </div>
      </div>
  </div>
</body>
