<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
  <form class="container-fluid justify-content-end">
    <button routerLink="/bienvenido"  class="btn btn-outline-success" type="button">Home</button>
    <button routerLink="/busqueda" class="btn btn-outline-danger" type="button">Búsqueda</button>
    <button routerLink="/peliculas" class="btn btn-outline-info" type="button">Películas</button>
    <button routerLink="/actores" class="btn btn-outline-primary" type="button">Actores</button>
  </form>
</nav>
