
<h4 class="d-flex justify-content-between align-items-center mb-12">
  <h1 style="color: azure;">Alta Película</h1>
</h4>
<div >
  <form [formGroup]="peliculaForm" (ngSubmit)="onSubmitPelicula()">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="titulo">Titulo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="titulo" name="titulo" formControlName="titulo">
          <small class="error-message" *ngIf="peliculaForm.controls['titulo'].hasError('required') && peliculaForm.controls['titulo'].touched">
            El Titulo es requerido
          </small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="genero">Genero</label>
        <div class="col-sm-10">
          <select class="form-control" id="genero" name="genero"  formControlName="genero" >
            <option value="" selected>Genero</option>
            <option value="accion">Acción</option>
            <option value="aventura">Aventura</option>
            <option value="comedia">Comedia</option>
            <option value="drama">Drama</option>
            <option value="fantasia">Fantasía</option>
            <option value="cienciaficcion">Ciencia ficción</option>
            <option value="terror">Terror</option>
            <option value="animacion">Animación</option>
            <option value="romance">Romance</option>
            <option value="suspenso">Suspenso</option>
          </select>
          <small class="error-message" *ngIf="peliculaForm.controls['genero'].hasError('required') && peliculaForm.controls['genero'].touched">
            Debe seleccionar un genero de pelicula.
          </small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="fechaEstreno">Fecha Estreno</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="fechaEstreno" name="fechaEstreno" formControlName="fechaEstreno">
          <small class="error-message" *ngIf="peliculaForm.controls['fechaEstreno'].hasError('required') && peliculaForm.controls['fechaEstreno'].touched">
            Debe seleccionar un pais
          </small>
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="cantidadPublico">Cantidad de Público</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="cantidadPublico" name="cantidadPublico" formControlName="cantidadPublico">
        <small class="error-message" *ngIf="peliculaForm.controls['cantidadPublico'].hasError('min') && peliculaForm.controls['cantidadPublico'].touched">
          Cantidad debe ser mayor a 1.
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="fotoPelicula">Subir Portada</label>
      <div class="col-sm-10">
        <input type="file" class="form-control" id="fotoPelicula" name="fotoPelicula" formControlName="fotoPelicula" placeholder="Subir imagen..." (change)="subirImagen($event)">
        <small class="error-message" *ngIf="peliculaForm.controls['fotoPelicula'].hasError('required') && peliculaForm.controls['fotoPelicula'].touched">
          Debe ingresar una imagen de portada
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="actores">Actores</label>
      <div class="col-sm-10">
        <ul class="list-group mb-3" style="max-height: 250px;">
          <li *ngFor="let actor of actoresQueActuaron" class="list-group-item d-flex justify-content-between lh-condensed" (click)="eliminarActor(actor)">
                  <p>{{actor.nombre}}, {{actor.apellido}}</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- Ver -->
    <!-- <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="actores">Actores</label>
      <div class="col-sm-10">
        <div formArrayName="actores">
          <div *ngFor="let skill of actores.controls; let i=index">
            <div [formGroupName]="i">
              {{i}}
              Nombre :
              <input type="text" name="nombre" id="nombre" formControlName="nombre">
              Apellido:
              <input type="text" name="apellido" id="apellido" formControlName="apellido">
              <button (click)="eliminarActor(i)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
  </form>
</div>
