<div class="text-center">
  <h1 style="color: antiquewhite;">Repartidores</h1>
</div>
<div class="card-group" >
  <div class="card" >
    <img src="../../../../assets/reparti1.png" class="card-img-top" alt="Repartidores" (click)="irA('/repartidor/alta')">
    <div class="card-body">
        <h5 class="card-title">Alta de Repartidores</h5>
        <p class="card-text">Dar de Alta nuevos rerpartidores</p>
    </div>
  </div>
    <div class="card">
        <img  style="width: auto;" src="../../../../assets/reaparti2.jpg" class="card-img-top" alt="Actores" (click)="irA('/repartidor/listado')">
        <div class="card-body">
            <h5 class="card-title">Listar Repartidores</h5>
            <p class="card-text">Listado de Repartidores.</p>
        </div>
    </div>

</div>
