<div class="text-center">
  <h1 style="color: antiquewhite;">Actores</h1>
</div>
<div class="card-group" >
    <div class="card">
        <img  style="width: auto;" src="../../../../assets/imagenes/Peliculas1.jpg" class="card-img-top" alt="Actores" (click)="irBuscarPeli()">
        <div class="card-body">
            <h5 class="card-title">Buscar Peliculas</h5>
            <p class="card-text">Listado de Peliculas y acciones con ellas.</p>
        </div>
    </div>
    <div class="card" >
      <img src="../../../../assets/imagenes/Peli2.jpg" class="card-img-top" alt="Actores" (click)="irAltaPeli()">
      <div class="card-body">
          <h5 class="card-title">Alta de Pelicula</h5>
          <p class="card-text">Dar de Alta nuevas peliculas</p>
      </div>
    </div>
</div>
